.stack-card-body {
  @media only screen and (max-width: 780px) {
    img {
      width: 100%;
    }
  }
}

.stack-card {
  border: 2px solid #2b2b2b;
}

.stack-header {
  background-color: #2b2b2b;
}

.stack-profile-image {
  width: 32px;
  height: 32px;
}

.stack-link {
  padding: 2px;
  color: white;
  border-bottom: 2px solid orange;
}

.stack-link:hover {
  color: white;
}
.question-title {
  border-bottom: 2px solid #2b2b2b;
}
