.Epam-container {
  .react-pdf__Page__canvas {
    margin: 0 auto;
    width: 200px !important;
    height: 250px !important;
  }
}

.csharp-container {
  .react-pdf__Page__canvas {
    margin: 0 auto;
    width: 250px !important;
    height: 180px !important;
  }
}

.sql-basic-container {
  .react-pdf__Page__canvas {
    margin: 0 auto;
    padding: 5px;
    width: 250px !important;
    height: 180px !important;
  }
}

.sql-intermediate-container {
  .react-pdf__Page__canvas {
    margin: 0 auto;
    padding: 5px;
    width: 250px !important;
    height: 180px !important;
  }
}

.react-pdf__Page__textContent {
  display: none;
}
